.photosizing {
  margin: center;
  border-radius: 100%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative;
}
.averyphotosizing {
  margin: center;
  border-radius: 75%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  position: relative;
}
.header {
  font-style: black;
  margin: center;
  padding-left: 100%;
  align-content: center;
}
