* {
  margin: 0;
  padding: 0;
}

.home-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-attachment: fixed;
}

.home-title {
  margin: 10px auto 0;
  text-align: center;
  font-weight: 400;
  color: white;
}

.signup {
  text-align: center;
  align-items: center;
  padding: 10px;
  color: white;
}

.sign-in {
  display: inline-flex;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgba(245, 173, 40, 0.8);
  margin: 10px;
}

.sign-in:hover {
  background: rgba(255, 255, 255, 0.8);
}

.sign-in:active {
  background: rgba(182, 83, 47, 0.8);
}

.sign-in__text {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  font-size: 1.25rem;
  color: white;
}

.sign-in__text:hover {
  color: rgba(255, 127, 80, 0.959);
}
.sign-in-github {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  margin: auto;
}

.sign-in-google {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  margin: auto;
}

.sign-in-github img {
  height: 100%;
  width: 40px;
}

.sign-in-google img {
  height: 100%;
  width: 40px;
}
